bin-debug/*.swf
bin-debug/Levels.xml

.actionScriptProperties
.project
.settings
*.as3proj
.flexProperties
.idea
*.iml
.bashrc
settings.bat

*/.actionScriptProperties
*/.project
*/.settings
*/*.as3proj
*/.flexProperties
*/.idea
*/*.iml

*.lock
logs/*
log/*
tmp/*

soc/Social.swc
soc/SocialFree.swc
rprotect/RProtector.swc
rprotect/*.swf
rprotect/com/somewater/net/*.swf

air/*.apk
air/*.swf
air/*.exe
air/*.air
air/output/*
