bin-debug/*.swf

.actionScriptProperties
.project
.settings
*.as3proj
.flexProperties
.idea
*.iml

*/.actionScriptProperties
*/.project
*/.settings
*/*.as3proj
*/.flexProperties
*/.idea
*/*.iml

*.lock
logs/*
tmp/*

soc/Social.swc
soc/SocialFree.swc
